@model IEnumerable<PoultryVersion.Models.TblTreatment>

@{
    ViewData["Title"] = "Index";
}

<h1>TREATMENT</h1>

<p>
    <a class="text-decoration-none" asp-action="Create">Create New<i class="fa-solid fa-circle-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disease)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disease.Id)
            </td>
            <td>
               

                          <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a> |
              @*  <a asp-action="Details" asp-route-id="@item.Id"></a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
