@model PoultryVersion.Models.TblDisease

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Disease</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiseaseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiseaseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EffectiveNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EffectiveNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfDead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfDead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poultry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poultry.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
